<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">

<form [formGroup]="frm"></form>

 <mat-form-field appearance="outline">
   <mat-label>Ders Kodu</mat-label>
   <input matInput placeholder="Ders Kodu" name="dersKodu" formControlName="dersKodu" required type="text">
 </mat-form-field>

 <mat-form-field appearance="outline">
  <mat-label>Ders Adı</mat-label>
  <input matInput placeholder="Ders Adı" name="dersAdi" formControlName="dersAdi" required type="text">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Ders Kredi</mat-label>
  <input matInput placeholder="Ders Kredi" name="dersKredi" formControlName="dersKredi" required type="number">
</mat-form-field>

<button mat-raised-button color="primary" [disabled]="frm.invalid" ng (click)="dialogRef.close(frm.value)">Kaydet</button>&nbsp;
<button mat-raised-button color="warn" ng (click)="dialogRef.close()">Vazgeç</button>
</div>