<div class="container">

<h1>Öğrenci Listesi</h1>

<h3 *ngIf="secDers">
    <b>Ders Kodu : </b> {{secDers.dersKodu}} &nbsp;&nbsp;
    <b>Ders Adı : </b> {{secDers.dersAdi}} &nbsp;&nbsp; 
    <b>Ders Kredi : </b> {{secDers.dersKredi}}
</h3>

<button mat-fab color="primary" [routerLink]="['/ders']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
</button>
&nbsp;&nbsp;
<button mat-fab color="primary" ng (click)="Ekle()">
    <mat-icon aria-label="label">person_add</mat-icon>
</button>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="ogrFoto">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fotoğraf
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 
        
      <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.ogrBilgi.ogrFoto" style="width: 100px;"/>
      
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ogrNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci No
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrBilgi.ogrNo}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ogrAdsoyad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci Adı Soyadı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrBilgi.ogrAdsoyad}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ogrYas">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci Yaşı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrBilgi.ogrYas}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ogrDersSayisi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ders Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrBilgi.ogrDersSayisi}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 
  
      <button mat-icon-button color="warn" ng (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
  
      
      </mat-cell>
    </ng-container>
  
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSizeOptions]="[1,5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>